.slider {
   display: flex;
   justify-content: center;
   background-color: #fff;
   margin-bottom: 40px;

   @media screen and (min-width: 768px) {
      margin-bottom: 0px;
   }
}

.container-slider {
   max-width: calc(1920px - 370px * 2);
   padding-left: 40px;
   padding-right: 40px;
}

.slider__wrapper {}

.slider {}

.slider__item {}

.item__wrapper {
   display: flex;
   justify-content: center;
   max-height: 450px;
}

.slider__img {
   height: 100%;
}